/* grays */
/* primary color */
/* secondary color */
/* tertiary color */
h1 {
  font-weight: 500;
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
  margin-top: 40px;
  margin-bottom: 20px;
}
h2 {
  font-weight: 700;
  font-size: 1.2em;
  font-family: 'Montserrat', sans-serif;
  margin-top: 20px;
  margin-bottom: 12px;
}
h3 {
  font-weight: 300;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
}
h4 {
  font-weight: 300;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
}
h5 {
  font-weight: 300;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
}
/* responsiveness through CSS */
/* language dependence */
.when-translated {
  display: none;
}
BODY.translated .when-translated {
  display: block;
}
/* category/type buttons */
button.category {
  white-space: normal;
  margin-bottom: 15px;
  height: 100%;
  background-color: white;
  border: 1px solid gray;
}
form.presentation button.category.presentation,
form.workshop button.category.workshop,
form.other button.category.other {
  background-color: #337ab7;
  border-color: #2e6da4;
  color: white;
}
.when-have-type {
  display: none;
}
form.presentation .when-have-type,
form.workshop .when-have-type,
form.other .when-have-type {
  display: block;
}
.when-not-presentation {
  display: block;
}
form.presentation .when-not-presentation {
  display: none;
}
.when-workshop {
  display: none;
}
form.workshop .when-workshop {
  display: block;
}
/* affiliation */
.when-affiliated {
  display: none;
}
form.affiliated .when-affiliated {
  display: block;
}
/* availability */
.when-not-always-available {
  display: block;
}
form.always-available .when-not-always-available {
  display: none;
}
/* all audiences */
.when-not-all-audiences {
  display: block;
}
form.all-audiences .when-not-all-audiences {
  display: none;
}
/* costs */
.when-costs {
  display: none;
}
form.costs .when-costs {
  display: block;
}
/* walk in */
.when-walk-in {
  display: none;
}
form.walk-in .when-walk-in {
  display: block;
}
/* multiple sessions */
.when-multiple-sessions {
  display: none;
}
form.multiple-sessions .when-multiple-sessions {
  display: block;
}
/* comments */
.when-comments {
  display: none;
}
form.comments .when-comments {
  display: block;
}
.when-author {
  display: none;
}
form.author .when-author {
  display: block;
}
.when-fri3d {
  display: none;
}
form.fri3d .when-fri3d {
  display: block;
}
#comments {
  margin-top: 25px;
  display: none;
}
.comment.author .author-img {
  color: #7F7671;
  float: left;
}
.comment.author .author-img:before {
  font-family: FontAwesome;
  content: "\f007";
}
.comment.author .author-img {
  font-size: 90px;
  line-height: 100px;
}
@media only screen and (max-width: 40.063em) {
  .comment.author .author-img {
    font-size: 50px;
    line-height: 80px;
  }
}
.comment.commentform.author .author-img {
  font-size: 90px;
  line-height: 80px;
}
@media only screen and (max-width: 40.063em) {
  .comment.commentform.author .author-img {
    font-size: 50px;
    line-height: 45px;
  }
}
.comment.commentform.fri3d .author-img {
  background-position: 0 10px;
}
@media only screen and (max-width: 40.063em) {
  .comment.commentform.fri3d .author-img {
    height: 50px;
    background-position: 0;
  }
}
.comment.fri3d .author-img {
  float: right;
  background-image: url('/static/images/author-fri3d.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 75px;
  height: 90px;
  background-position: 0 20px;
}
@media only screen and (max-width: 40.063em) {
  .comment.fri3d .author-img {
    width: 40px;
    height: 70px;
    background-position: 0 20px;
  }
}
.comment.author .message {
  margin-left: 100px;
  margin-right: 100px;
}
.comment.fri3d .message {
  margin-left: 100px;
  margin-right: 100px;
}
.author img {
  max-height: 75px;
  max-width: 75px;
}
@media only screen and (max-width: 40.063em) {
  .comment.author .message {
    margin-left: 55px;
    margin-right: 15px;
  }
  .comment.fri3d .message {
    margin-left: 15px;
    margin-right: 55px;
  }
  .author img {
    max-height: 45px;
    max-width: 45px;
  }
}
.comment p {
  padding-bottom: 0px;
  /* reset */
}
.comment {
  margin-bottom: 50px;
}
.message {
  position: relative;
}
.message textarea {
  padding: 10px;
  margin-top: 20px;
  resize: vertical;
}
.comment.commentform .message:after {
  top: 21px;
}
.comment.commentform .message:before {
  top: 20px;
}
.message:after {
  content: "";
  position: absolute;
  border-style: solid;
  display: block;
  width: 0;
  top: 41px;
}
.message:before {
  content: "";
  position: absolute;
  border-style: solid;
  display: block;
  width: 0;
  top: 40px;
}
.message.left:after {
  left: -17px;
  bottom: auto;
  border-width: 0 18px 18px 0;
  border-color: transparent white;
}
.message.left:before {
  left: -20px;
  bottom: auto;
  border-width: 0 20px 20px 0;
  border-color: transparent #AFAAA7;
}
.message.right:after {
  content: "";
  position: absolute;
  border-style: solid;
  display: block;
  width: 0;
  top: 41px;
  right: -17px;
  bottom: auto;
  border-width: 0 0 18px 18px;
  border-color: transparent white;
}
.message.right:before {
  content: "";
  position: absolute;
  border-style: solid;
  display: block;
  width: 0;
  top: 40px;
  right: -20px;
  bottom: auto;
  border-width: 0 0 20px 20px;
  border-color: transparent #AFAAA7;
}
/*
  bubble design entirely in css:
  respectfully extracted from
  http://nicolasgallagher.com/pure-css-speech-bubbles/demo/default.css
*/
/* collapsed details */
.sidebar-box {
  max-height: 60px;
  position: relative;
  overflow: hidden;
  border: 1px solid #AFAAA7;
  background-color: white;
  padding: 10px;
}
.sidebar-box .read-more {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  /* "transparent" only works here because == rgba(0,0,0,0) */
  /*  background-image: linear-gradient(to bottom, transparent, white);*/
}
.fadeout {
  position: absolute;
  bottom: 0em;
  width: 100%;
  height: 4em;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  background-image: -ms-linear-gradient(rgba(255, 255, 255, 0) 0%, #ffffff 100%);
}
.commentbtn {
  text-align: right;
  margin-top: 5px;
}
.commentmeta {
  margin-bottom: 10px;
  font-size: 12px;
  color: #7F7671;
}
