/* move down content because we have a fixed navbar that is 50px tall */

body {
  padding-top: 50px;
}

/* navigation */

.navbar-fixed-top {
  border: 0;
}

IMG.logo {
  margin-top: -4px;
}

/* main content */

.main {
  padding: 20px;
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.main .page-header {
  margin-top: 0;
}

/* CFP form styling */

html,
body {
  background-color: #FAFAFA;
  height: 100%;
}

body {
  font-family: "Open Sans";
}

input,
button,
select,
textarea {
 font-family: inherit;
 font-size: inherit;
 line-height: inherit;
}

@media (min-width: 700px) {
  .mainwrapper {
    padding-left:10%;
    padding-right:10%
  }
}
@media (min-width: 1200px) {
  .mainwrapper {
    padding-left:20%;
    padding-right:20%
  }
}

h1 {
  font-weight: 500;
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-weight: 500;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-weight: 300;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
}

h4 {
  font-weight: 300;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
}

h5 {
  font-weight: 300;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
}

p {
    margin: 0;
    padding-bottom: 1em;
    line-height: 1.2em;
}

.fri3d-input {
  background-color: #E4F1F5;
  border: 0px;
  padding-left:4px;
  padding-right:4px;
  padding-bottom:1px;
  border-left: 2px solid;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-right: 2px solid;
  border-width: 2px;
  border-color: #E9F1F7;
  box-shadow: none
}

i.action-icon {
  font-size: 150%;
}

div.download.pdf {
  display: inline-block;
  font-size: 75%;
  text-align: center;
  margin: 15px;
  width: 110px;
}

div.download.pdf.left {
  float: left;
}

@media only screen and (min-width : 768px) {
  .button-container {
    display: table;
    border-spacing: 8px;
  }
  .button-container [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
    border-collapse: separate;
    width:30%;
  }
}

.category {
  margin-bottom: 8px;
  background-color: white;
  border: solid 1px #dedede;
  padding: 8px;
  box-shadow: none;
  cursor: pointer;
  min-height: 90px;
}

.category.selected {
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
  background-color: #0E98AF;
  color: white;
  border: solid 1px #0E98AF;
}

.category:hover {
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}
