/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

IMG.logo {
  margin-top: -4px;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

/* CFP form styling */

i.action-icon {
  font-size: 150%;
}

/* responsiveness through CSS */

/* language dependence */

.when-translated {
  display: none;
}

BODY.translated .when-translated {
  display: block;
}

/* category/type buttons */

button.category {
  white-space:      normal;
  margin-bottom:    15px;
  height:           100%;
  background-color: white;
  border:           1px solid gray;
}

form.presentation button.category.presentation,
form.workshop     button.category.workshop,
form.other        button.category.other
{
  background-color: #337ab7;
  border-color: #2e6da4;
  color: white;
}

.when-have-type {
  display: none;
}

form.presentation .when-have-type,
form.workshop     .when-have-type,
form.other        .when-have-type
{
  display: block;
}

.when-not-presentation {
  display: block;
}

form.presentation .when-not-presentation {
  display: none;
}

.when-workshop {
  display: none;
}

form.workshop .when-workshop {
  display: block;
}

/* affiliation */

.when-affiliated {
  display: none;
}

form.affiliated .when-affiliated {
  display: block;
}

/* availability */

.when-not-always-available {
  display: block;
}

form.always-available .when-not-always-available {
  display: none;
}

/* all audiences */

.when-not-all-audiences {
  display: block;
}

form.all-audiences .when-not-all-audiences {
  display: none;
}

/* costs */

.when-costs {
  display: none;
}

form.costs .when-costs {
  display: block;
}

/* walk in */

.when-walk-in {
  display: none;
}

form.walk-in .when-walk-in {
  display: block;
}

/* multiple sessions */

.when-multiple-sessions {
  display: none;
}

form.multiple-sessions .when-multiple-sessions {
  display: block;
}
