{% extends "main.html" %}
{% block title %}Fri3d CFP{% endblock %}
{% block moreCSS %}{% endblock %}
{% block moreJS %}
  <script src="/static/js/cfp.js"></script>
  <script src="/static/js/i18n.js"></script>
  <script src="/static/nl-en.js"></script>  
{% endblock %}

{% block content %}

<div class="i18n toggle" style="float:right">
  <input type="checkbox">
</div>

<div class="i18n" data-i18n="SUBMISSION_INTRO"></div>

<!-- form -->

<h3 class="i18n" data-i18n="SUBMISSION_TITLE"></h3>

<div class="i18n" data-i18n="SUBMISSION_DESC"></div>

<div class="category row">

  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <button type="button" class="btn btn-lg btn-block category unselected"
            data-category="presentation">

      <h4 class="i18n" data-i18n="TYPE_PRESENTATION"></h4>
  
      <p class="i18n" data-i18n="TYPE_PRESENTATION_DESC"></p>

    </button>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <button type="button" class="btn btn-lg btn-block category unselected"
            data-category="workshop">
  

      <h4 class="i18n" data-i18n="TYPE_WORKSHOP"></h4>

      <p class="i18n" data-i18n="TYPE_WORKSHOP_DESC"></p>

    </button>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <button type="button" class="btn btn-lg btn-block category unselected"
            data-category="other">

      <h4 class="i18n" data-i18n="TYPE_OTHER"></h4>

      <p class="i18n" data-i18n="TYPE_OTHER_DESC"></p>

    </button>
  </div>
</div>

<div id="form-presentation" class="details">
  <h3>Presentatie Details</h3>
</div>

<div id="form-workshop" class="details">
  <h3>Workshop Details</h3>
</div>

<div id="form-other" class="details">
  <h3>Other Details</h3>
</div>

{% endblock %}
