{% extends "main.html" %}
{% block title %}Fri3d CFP{% endblock %}
{% block moreCSS %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/css/bootstrap-dialog.min.css" rel="stylesheet">
{% endblock %}
{% block moreJS %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/js/bootstrap-dialog.min.js"></script>
  <script src="/static/js/responsive.js"></script>
  <script src="/static/js/collaborators.js"></script>
  <script src="/static/js/submission.js"></script>
  <script src="/static/js/i18n.js"></script>
  <script src="/static/nl-en.js"></script>
{% endblock %}

{% block content %}

<form>

<div id="language-container" style="float:right">
  <input id="language" type="checkbox">
</div>

<div class="i18n" data-i18n="SUBMISSION_INTRO"></div>

<!-- form -->

<h3 class="i18n" data-i18n="SUBMISSION_TITLE"></h3>

<div class="i18n" data-i18n="SUBMISSION_DESC"></div>

<div class="category row">

  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <button type="button" class="btn btn-lg btn-block category unselected"
            data-category="presentation">

      <h4 class="i18n" data-i18n="TYPE_PRESENTATION"></h4>
  
      <p class="i18n" data-i18n="TYPE_PRESENTATION_DESC"></p>

    </button>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <button type="button" class="btn btn-lg btn-block category unselected"
            data-category="workshop">
  

      <h4 class="i18n" data-i18n="TYPE_WORKSHOP"></h4>

      <p class="i18n" data-i18n="TYPE_WORKSHOP_DESC"></p>

    </button>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <button type="button" class="btn btn-lg btn-block category unselected"
            data-category="other">

      <h4 class="i18n" data-i18n="TYPE_OTHER"></h4>

      <p class="i18n" data-i18n="TYPE_OTHER_DESC"></p>

    </button>
  </div>

</div>

<div class="when-have-type">
  
  <p class="i18n" data-i18n="BASIC_INFO_SECTION_SUMMARY"></p>

  <div class="form-group">

    <label for="title" class="i18n" data-i18n="TITLE"></label>
    <input class="form-control" id="title">

    <label for="summary" class="i18n" data-i18n="SUMMARY"></label>
    <textarea class="form-control" id="summary" rows="5"></textarea>

    <div class="when-translated">
      <input type="checkbox" class="i18n" data-toggle="toggle" data-size="mini">
      <span class="i18n" data-i18n="LANGUAGE_SUPPORT_OPTION"></span>
    </div>

  </div>
  
  <h1 class="i18n" data-i18n="SPEAKER_SECTION_TITLE"></h1>
  
  <p class="i18n" data-i18n="SPEAKER_SECTION_SUMMARY"></p>
  
  <div class="form-group col-md-6">

    <label for="name" class="i18n" data-i18n="NAME"></label>
    <input class="form-control" id="name">

  </div>

  <div class="form-group col-md-6">

    <label for="email" class="i18n" data-i18n="EMAIL"></label>
    <input type="email" class="form-control" id="email">

  </div>
  
  <div class="form-group">

    <label for="bio" class="i18n" data-i18n="BIO"></label>
    <textarea class="form-control" id="bio" rows="5"></textarea>
    
  </div>

  <h2 class="i18n" data-i18n="SPEAKER_MORE_INFO_TITLE"></h2>
  
  <div class="form-group">

    <input type="checkbox" class="i18n" data-toggle="toggle" data-size="mini">
    <span class="i18n" data-i18n="AFFILIATED"></span>
    
    <div class="when-affiliated">
      <label for="affiliation" class="i18n" data-i18n="ASSOCIATED"></label>
      <input class="form-control" id="affiliation">
      <span class="i18n hint" data-i18n="ASSOCIATED_HINT"></span>
    </div>

  </div>
  
  <div class="form-group">

    <input type="checkbox" class="i18n" checked data-toggle="toggle" data-size="mini">
    <span class="i18n" data-i18n="REPETITION_OPTION"></span>

  </div>

  <div class="form-group">

    <input type="checkbox" class="i18n" checked data-toggle="toggle" data-size="mini">
    <span class="i18n" data-i18n="AVAILABILITY_ALWAYS"></span>
  
    <div class="when-not-always-available">

      <h2 class="i18n" data-i18n="AVAILABILITY_SECTION_TITLE"></h2>
      
      <p class="i18n" data-i18n="AVAILABILITY_SECTION_SUMMARY"></p>
      

      <div class="row">

        <div class="form-group col-md-3">

          <input type="checkbox" class="i18n" checked data-toggle="toggle" data-size="mini">
          <span class="i18n" data-i18n="DAY_ONE"></span>

        </div>

        <div class="form-group col-md-3">

          <label for="from-1" class="i18n" data-i18n="FROM"></label>
          <input class="form-control" id="from-1" value="9">

        </div>

        <div class="form-group col-md-3">

          <label for="until-1" class="i18n" data-i18n="UNTIL"></label>
          <input class="form-control" id="until-1" value="21">

        </div>

      </div>

      <div class="row">

        <div class="form-group col-md-3">

          <input type="checkbox" class="i18n" checked data-toggle="toggle" data-size="mini">
          <span class="i18n" data-i18n="DAY_TWO"></span>

        </div>

        <div class="form-group col-md-3">

          <label for="from-2" class="i18n" data-i18n="FROM"></label>
          <input class="form-control" id="from-2" value="9">

        </div>

        <div class="form-group col-md-3">

          <label for="until-2" class="i18n" data-i18n="UNTIL"></label>
          <input class="form-control" id="until-2" value="21">

        </div>

      </div>
  
    </div>

      <div class="row">

        <div class="form-group col-md-3">

          <input type="checkbox" class="i18n" checked data-toggle="toggle" data-size="mini">
          <span class="i18n" data-i18n="DAY_THREE"></span>

        </div>

        <div class="form-group col-md-3">

          <label for="from-3" class="i18n" data-i18n="FROM"></label>
          <input class="form-control" id="from-3" value="9">

        </div>

        <div class="form-group col-md-3">

          <label for="until-3" class="i18n" data-i18n="UNTIL"></label>
          <input class="form-control" id="until-3" value="21">

        </div>

      </div>
  
    </div>
    
    <h1 class="i18n" data-i18n="ACTIVITY_SECTION_TITLE"></h1>
    
    <p class="i18n" data-i18n="ACTIVITY_SECTION_SUMMARY"></p>
    
    <h2 class="i18n" data-i18n="AUDIENCE_SECTION_TITLE"></h2>
    
    <div class="row">
      <div class="form-group col-md-6">

        <label for="audience-amount" class="i18n" data-i18n="AMOUNT_AUDIENCE"></label>
        <input class="form-control" id="audience-amount" value="25">
        <span class="i18n hint" data-i18n="AMOUNT_AUDIENCE_HINT"></span>

      </div>
    </div>
    
    <div class="form-group">

      <input type="checkbox" class="i18n" checked data-toggle="toggle" data-size="mini">
      <span class="i18n" data-i18n="AUDIENCE_ALL"></span>

      <div class="when-not-all-audience">

        <p class="i18n" data-i18n="AUDIENCE_SECTION_SUMMARY"></p>

        <p class="i18n" data-i18n="AUDIENCE_TYPE_LABEL"></p>
        
        <input type="checkbox"><span class="i18n" data-i18n="LEVEL_BEGINNER"></span><br>
        <input type="checkbox"><span class="i18n" data-i18n="LEVEL_INTERMEDIATE"></span><br>
        <input type="checkbox"><span class="i18n" data-i18n="LEVEL_EXPERT"></span><br>
        <input type="checkbox"><span class="i18n" data-i18n="LEVEL_FAMILY"></span><br>
        <input type="checkbox"><span class="i18n" data-i18n="LEVEL_CHILD"></span><br>
        <input type="checkbox"><span class="i18n" data-i18n="LEVEL_ADULT"></span>

        <div class="form-group">
        
          <label for="requirements" class="i18n" data-i18n="AUDIENCE_REQUIREMENTS_LABEL"></label>
          <textarea class="form-control" id="requirements" rows="5"></textarea>
        
        </div>
        
      </div>

    </div>

    <div class="row form-group">
      
      <input type="checkbox" class="i18n" data-toggle="toggle" data-size="mini">
      <span class="i18n" data-i18n="COSTS_REQUIRED"></span>
      
      <div class="when-costs">

        <div class="form-group col-md-6">

          <label for="cost" class="i18n" data-i18n="COSTS_LABEL"></label>
          <input class="form-control" id="cost" value="0">

        </div>
        
        
      </div>
      
    </div>
    
    <h2 class="i18n" data-i18n="DURATION_SECTION_TITLE"></h2>
    
    <div class="row">
      <div class="form-group col-md-6">

        <label for="total-duration" class="i18n" data-i18n="ACTIVITY_DURATION_LABEL"></label>
        <input class="form-control" id="total-duration" value="60">

      </div>
    </div>

    <div class="row form-group">
      
      <input type="checkbox" class="i18n" data-toggle="toggle" data-size="mini">
      <span class="i18n" data-i18n="ACTIVITY_FORMAT_LABEL"></span>
      
      <div class="when-walk-in">

        <div class="form-group col-md-6">

          <label for="visit-duration" class="i18n" data-i18n="VISIT_DURATION_LABEL"></label>
          <input class="form-control" id="visit-duration" value="15">
          <span class="i18n hint" data-i18n="VISIT_DURATION_HINT"></span>

        </div>
        
        
      </div>
      
    </div>

    <div class="row form-group">
      
      <input type="checkbox" class="i18n" data-toggle="toggle" data-size="mini">
      <span class="i18n" data-i18n="ACTIVITY_SESSIONS_MULTIPLE"></span>
      
      <div class="when-walk-in">

        <div class="form-group col-md-6">

          <label for="sessions" class="i18n" data-i18n="SESSIONS_LABEL"></label>
          <input class="form-control" id="sessions" value="2">
          <span class="i18n hint" data-i18n="SESSIONS_HINT"></span>

        </div>

      </div>
      
    </div>
    
    <h1 class="i18n" data-i18n="COLLABORATORS_SECTION_TITLE"></h1>
    
    <p class="i18n" data-i18n="COLLABORATORS_SECTION_SUMMARY"></p>
    
    <div class="form-group">

      <div id="collaborators">
        
      </div>

      <span class="btn btn-primary btn-lg i18n" data-i18n="COLLABORATORS_ADD_BUTTON" role="button" onclick="collaborators.show_add_dialog(); return false;"></span>

    </div>

    <h1 class="i18n" data-i18n="REMARKS_SECTION_TITLE"></h1>
    
    <p class="i18n" data-i18n="REMARKS_SECTION_SUMMARY"></p>
    
    <div class="form-group">
      
      <label for="remarks" class="i18n sr-only" data-i18n="REMARKS_SECTION_TITLE"></label>
      <textarea class="form-control" id="remarks" rows="5"></textarea>
      
    </div>

    <p id="errors" class="i18n" data-i18n="INVALID_FORM"></p>

    <span class="btn btn-primary btn-lg i18n" data-i18n="SAVE" role="button" onclick="submission.submit(); return false;"></span>

  </div>


</form>

{% endblock %}
